# app config
# # (default: 3000)
# PORT=3000

# server endpoint
# (default: location.hostname)
REACT_APP_SERVER_HOST=
# (default: location.port)
REACT_APP_SERVER_PORT=8000
# (default: location.protocol)
REACT_APP_SERVER_PROTO=http

# Value to access Firebase you can check your Firebase project settings
# REACT_APP_FIREBASE_API_KEY=
# REACT_APP_FIREBASE_AUTH_DOMAIN=
# REACT_APP_FIREBASE_PROJECT_ID=
# REACT_APP_FIREBASE_STORAGE_BUCKET=
# REACT_APP_FIREBASE_MESSAGING_SENDER_ID=
# REACT_APP_FIREBASE_APP_ID=
# REACT_APP_FIREBASE_MEASUREMENT_ID=